fastapi
uvicorn[standard]
sqlalchemy
alembic
# psycopg[binary]  # только если вернётесь на PostgreSQL
pydantic
pydantic-settings
python-multipart
python-docx
pytest
httpx
PyJWT
bcrypt
email-validator
